.footer {
  height: var(--ribbon-height);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--black);
  padding-right: 3.5rem ;
  gap: 3.5rem;
}

.footer__item {
  height: 36px;
}
@media (max-width: 768px) {
  .footer {
    justify-content: space-evenly;
    padding: 0;
    gap: 0;
  }
}
