.redRibbon {
  background-color: var(--red-highlight);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 60px 0;
}

.redRibbon__text {
  font-weight: var(--body-highlight-font-weight);
  color: var(--white);
  margin: 0;
}
@media (max-width: 768px) {
  .redRibbon {
    gap: 2rem;
    padding: 40px 0;  
  }
}
